.titleItem {
  color: black;
  font-size: 1.125rem;
  display: block;
  font-family: SourceHanSansCN-Bold;
}

.secondTitle {
  font-size: .75rem;
  margin-top: .5rem;
  display: inline-block;
  color: rgba(40, 40, 40, 0.8);
  font-family: SourceHanSansCN-Bold;
  overflow: hidden;
}

.secondTitle span {
  word-break: break-all;
  white-space: pre-wrap;
  line-height: .8125rem;
}

.scrollList {
  background: rgb(233, 233, 233);
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.scrollList>ul {
  background: rgb(233, 233, 233);
  padding-left: 0px;
  transition: 1s;
  overflow: hidden;
}

.testDetail {
  height: auto;
  overflow: hidden;
  width: 100%;
  padding: .625rem 0;
  box-sizing: border-box;
}

.testDetail img {
  width: 10vw;
  margin-left: 2vw;
  height: 10vw;
  border-radius: 2.5rem;
  display: block;
  float: left;
}

.testitemlist {
  float: left;
  margin-left: 2vw;
  max-width: 76vw;
  font-size: 1rem;
  font-family: SourceHanSansCN-Bold;
}

.testitemlist>div {
  padding: .625rem 1.25rem;
  border-radius: .4375rem;
  background: white;
  position: relative;
  margin-bottom: .625rem;
  color: rgba(20, 20, 20, 1);
}

.testitemlist li {
  background: white;
  border-radius: .4375rem;
  padding: .625rem 1.25rem;
  margin-bottom: .625rem;
  box-shadow: 0px 2px 0px 0px rgba(40, 40, 40, 0.1);
}

.testitemlist ul {
  font-family: SourceHanSansCN-Regular;
  padding-left: 0px;
  width: 50vw;
  font-size: .875rem;
  color: black;
}

.active {
  background: rgb(236, 120, 126) !important;
  color: white;
}

.submitButton div {
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 0px;
  color: white;
  font-size: 1.125rem;
  font-family: SourceHanSansCN-Medium;
  line-height: 2.5rem;
  text-align: center;
  color: #f5f5f5;
  background: linear-gradient(#c9174b, #e61550, #c9174b);
  box-sizing: border-box;
  overflow: hidden;
}

.submitButton {
  position: absolute;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
}

.english {
  color: rgba(40, 40, 40, 0.8);
}